body {
    margin: 0;
    display: grid;
    justify-items: center;
}

.App {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.nav {
    margin-top: 20px;
    margin-left: 25px;
}

.nav-title {

}

.nav-container {
    display: grid;
    align-items: center;
    grid-template-rows: 24px auto;
    height: 75px;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 7px;

}


a { 
    color: inherit;
    text-decoration:none; 
    
 } 

 .nav a {
    margin-left: 10px;
 }

 a:hover {
    color: blue;
    font-weight: bolder;
    text-decoration: underline;
 }

/* Work order list */
 .work-order-list-container {
    display: grid;
    margin-top: 15px;
    width: 750px;
 }


.work-order-container fieldset  {
    display: grid;
    grid-template-columns: 200px 150px 200px 200px 50px;
    align-items: center;
    height: 50px;
    padding-top: 0px;
}

.work-order-container p  {
    margin-top: 0;
    margin-bottom: 0;
}

 .work-order-container a {
    text-decoration: underline;
 }

 @media screen and (max-width:750px){
    .App {
        grid-template-columns: 150px 1fr;
    }

    .nav{
        margin-left: 10px;
    }
    
    .work-order-list-container {
        display: grid;
        gap: 15px;
        margin-top: 15px;
        width:100%;
     }

     .work-order-container fieldset  {
        display: grid;
        gap: 10px;
        align-items: center;
        grid-template-columns: none;
        margin-right: 15px;
        height: auto;
    }


 }

 /* Customer list */
.customer-list-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(180px, 200px));
    gap: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.customer-container fieldset {
    height:160px
}

/* Vendor list */

.vendor-list-container {
    display: grid;
    margin-top: 15px;
    width: 750px;
 }

 .vendor-container {
    display: grid;
    grid-template-columns: 200px 150px 200px 200px;
    align-items: center;
    height: 50px;
    padding-top: 0px;
 }

 .vendor-container a {
    font-weight: bolder;
    text-decoration: underline;
 }

 /* Parts list */

 .parts-list-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    width: 900px;
 }

 .parts-container {
    display: grid;
    grid-template-columns: 300px 100px 150px 100px 200px;
    align-items: center;
    height: 50px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: auto;
    padding-left: 15px;
 }

 .parts-container a {
    text-decoration: underline;
 }

  /* Labor list */

.labor-list-container {
    display: flex;
    margin-top: 15px;
    gap:15px;
    flex-direction: column;
}

.labor-container {
    border-radius: 16px;
    width: auto;
    padding-left: 15px;
    border: 1px solid #ccc;
    align-items: center;
    padding-top: 10px;
    width: 200px;
}

.labor-container p {
    margin-bottom: 10px;
}

/* Job Type List */

.job-list-container {
    display: flex;
    margin-top: 30px;
    gap:15px;
    flex-direction: column;
}

.job-container {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 5px;
    padding-left: 15px;
    font-weight: bolder;
    width: 150px;
}